<a href="https://colab.research.google.com/github/rhdmsggg/bitcamp/blob/main/_05_Weather_RSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib.request as req   # 웹데이터 가져오기
from bs4 import BeautifulSoup   # 데이터 구조 분석하기

In [ ]:
# 기상청 RSS XML
url = "http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=108"

In [ ]:
# 1) 웹 데이터 가져오기
res = req.urlopen(url)
print(res)

<http.client.HTTPResponse object at 0x7f3613c11050>

In [ ]:
# 2) 분석하기
#   a. request로 가져온 정보를 담은 객체
#   b. html text 데이터
soup = BeautifulSoup(res, 'html.parser')

In [ ]:
# title과 wf가져오기
title = soup.find("title").string
title

'기상청 육상 중기예보'

In [ ]:
wf = soup.find("wf").string
wf

"○ (강수) 13일(월) 제주도에, 14일(화)부터 15일(수)까지 남부지방과 제주도에, 15일(수) 오후부터 17일(금)까지 강원영동에 비가 오겠습니다.<br />○ (기온) 이번 예보기간 아침 기온은 16~22도로 어제(9일, 아침최저기온 17~21도)와 비슷하겠고, 낮 기온은 23~31도로 어제(9일, 낮최고기온 27~30도)와 비슷하거나 조금 낮겠습니다.<br />○ (해상) 14일(화)부터 16일(목) 대부분 해상에서 물결이 2.0~5.0m로 매우 높게 일겠습니다.<br /><br />* 또한, 이번 예보기간 제14호 태풍 '찬투'의 이동경로와 강도에 따라 강수의 변동성이 크겠으니, 앞으로 발표되는 기상정보를 참고하기 바랍니다."

In [ ]:
#wf = wf.replace("")
wf = wf.replace("<br />","\n")